.avatarImg {
  width: 24px;
  height: 24px;
  border-radius: 10px;
  margin-right: 6px;
}

.issueDiv, .commentDiv {
  border: 1px solid rgba(0, 0, 255, 0.5);;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}
